body {
    color: #9a7740;
    background-image: url("flowers.jpg");
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
        sans-serif;
}

/*https: //www.vecteezy.com/vector-art/5204231-watercolor-rose-flower-floral-seamless-pattern*/

main,
header,
footer {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 30px;
}

header {
    min-height: 100px;
}

footer {
    min-height: 100px;
}

div {
    width: 1100px;
    margin: auto;
    text-align: center;
}

#main {
    width: 100%;
    margin: auto;
}

h1,
h3 {
    padding: 30px;
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 900px) {

    main,
    header,
    footer {
        width: 80%;
    }

    div {
        width: 95%;
    }

    #main {
        width: auto;
    }
}